<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="40306" id="my.com.ncore.bcremit" version="4.3.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BCRemit</name>
    <description>
        Money Transfer As Simple As 1-2-3
    </description>
    <author email="it@bcremit.com" href="https://www.bcremit.com">
        BCRemit
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="fb-messenger:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <preference name="AndroidXEnabled" value="true" />
    <access launch-external="yes" origin="tel:*" />
    <access launch-external="yes" origin="geo:*" />
    <access launch-external="yes" origin="mailto:*" />
    <access launch-external="yes" origin="sms:*" />
    <access launch-external="yes" origin="market:*" />
    <platform name="android">
        <splash density="port-hdpi" src="res/screen/android/logo-screen-hdpi-portrait.png" />
        <splash density="port-ldpi" src="res/screen/android/logo-screen-ldpi-portrait.png" />
        <splash density="port-mdpi" src="res/screen/android/logo-screen-mdpi-portrait.png" />
        <splash density="port-xhdpi" src="res/screen/android/logo-screen-xhdpi-portrait.png" />
        <splash density="land-hdpi" src="res/screen/android/logo-screen-hdpi-landscape.png" />
        <splash density="land-ldpi" src="res/screen/android/logo-screen-ldpi-landscape.png" />
        <splash density="land-mdpi" src="res/screen/android/logo-screen-mdpi-landscape.png" />
        <splash density="land-xhdpi" src="res/screen/android/logo-screen-xhdpi-landscape.png" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="ShowSplashScreenSpinner" value="false" />
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
        <resource-file src="res/icon/android/drawable-mdpi/bcremitlogo.png" target="res/drawable-hdpi/bcremitlogo.png" />
        <resource-file src="res/icon/android/drawable-hdpi/bcremitlogo.png" target="res/drawable-hdpi/bcremitlogo.png" />
        <resource-file src="res/icon/android/drawable-xhdpi/bcremitlogo.png" target="res/drawable-xhdpi/bcremitlogo.png" />
        <resource-file src="res/icon/android/drawable-xxhdpi/bcremitlogo.png" target="res/drawable-xxhdpi/bcremitlogo.png" />
        <resource-file src="res/icon/android/drawable-xxxhdpi/bcremitlogo.png" target="res/drawable-xxxhdpi/bcremitlogo.png" />
    </platform>
    <plugin name="cordova-plugin-inappbrowser" spec="~5.0.0" />
    <plugin name="cordova-plugin-device" spec="~2.0.3" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.2" />
    <plugin name="cordova-plugin-customurlscheme" spec="git+https://github.com/EddyVerbruggen/Custom-URL-scheme.git" />
    <feature name="Custom URL scheme">
        <param name="id" value="cordova-plugin-customurlscheme" />
        <param name="url" value="https://github.com/EddyVerbruggen/Custom-URL-scheme.git" />
        <variable name="URL_SCHEME" value="bcremitapp" />
    </feature>
    <plugin name="cordova-plugin-appminimize" spec="^1.0.1" />
    <plugin name="cordova-plugin-appminimize" spec="^1.0.1" />
    <plugin name="cordova-plugin-firebasex" spec="latest" />
</widget>
