//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  padding: 12px 20px;
  
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  
  border-radius: 3px;

  cursor: pointer;
  transition: all .2s ease-in;

  @include on-event {
    text-decoration: initial;
  }

  &-blue {
    color: $white;

    background-color: $blue;
    border: 1px solid $blue;

    @include on-event {
      color: $blue;

      background-color: transparent;
      border: 1px solid $blue;
    }
  }

  &-grey {
    color: $grey;

    background-color: $gainsboro;
    border: 1px solid $gainsboro;

    @include on-event {
      background-color: transparent;
      border: 1px solid $grey;
    }
  }

  &-border-blue {
    color: $blue;

    border: 1px solid $blue;

    @include on-event {
      color: $white;

      background-color: $blue;
      border: 1px solid $blue;
    }
  }

  &-border-grey {
    color: $grey;

    border: 1px solid $grey;

    @include on-event {
      background-color: $gainsboro;
      border: 1px solid $gainsboro;
    }
  }
}

.btn-close {
  position: absolute;
}

// .btn-fixed{
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   left: 0;

//   padding: 15px 32px;
//   width: 100%;
  
//   background-color: #fff;
// }

.btn-back {
  left: -4px;
}

.close-icon,
.back-icon {
  width: 18px;

  fill: $lynch-blue;
  transition: all .2s ease-in;

  @include on-event {
    fill: $prussian-blue;
  }
}

@include respond-to(xs) {
  .btn {
    font-size: 16px;
  }
}