//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the forms component.
// -----------------------------------------------------------------------------

.input-holder{
  padding: 10px 0;

  .input-title{
    padding: 0;
    margin: 0;

    font-family: $font-avenir;
    font-size: 16px;
    font-weight: 400;
    color: $light-slate-grey;
    letter-spacing: .4px;
  }

  .input-wrapper{
    display: flex;
  }

  .input-textbox{
    padding: 10px 0;
    width: 100%;

    font-family: $font-avenir;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .55px;
    color: $prussian-blue;

    border: none;
    border-bottom: 1px solid $gainsboro;
    border-radius: 0;

    transition: all .3s ease-in-out;

    &:disabled {
      background: transparent;
      border-bottom: initial;
    }

    &:focus {
      padding-left: 10px;

      outline-offset: -2px;
      outline: $blue auto 1px;
    }
  }

  .btn-pass{
    background: transparent;
    border: none;
    border-bottom: 1px solid $gainsboro;
  }

  .input-select{
    @extend .input-textbox;

    padding-right: 30px;

    background: transparent url(../assets/images/arrow-down.png) no-repeat;
    background-position: top 25px right 10px;
    -webkit-appearance: none;
    outline: none;

    optgroup {
      font-size: 18px;
      font-weight: 700;
      color: $lynch-blue;
    }

    option {
      margin-left: 15px;

      font-family: $font-avenir;
      font-size: 18px;
      font-weight: 500;
      color: $prussian-blue;
    }
  }

  ::placeholder {
    color: $prussian-blue;

    opacity: 1;
  }
}

.select-holder {
  display: flex;
  justify-content: space-between;

  .input-field {
    width: 49%;
  }
}