
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.7);

  transition: opacity 500ms;

  &-open {
    visibility: hidden;
    opacity: 0;

    &:target {
      visibility: visible;
      opacity: 1;
    }
  }

  .content-wrapper {
    overflow-y: auto;
  }

  .content-holder {
    position: relative;

    padding: 16px 20px;
    margin: 81px auto;
    width: 310px;
    max-width: 100%;

    background: #fff;
    border-radius: 3px;

    transition: all .2s ease-in-out;
  }
}