.choices-holder {
  display: flex;
  width: 100%;
  margin: 0 auto;

  .payment-details {
    width: 100%;
    max-width: 100%;
    
    font-size: 16px;
    text-align: center;

    border-radius: 5px;
    border: 1px solid #d4d4d4;

    .radio-title {
      color: $prussian-blue;
    }

    &:last-child {
      margin-left: 5px;
    }
  }

  .payment-input[type="radio"] {
    display: none;
  }

  .payment-input[type="radio"]:checked + .payment-details {
    @extend .payment-details;

    color: $white;
    background-color: $brand-color;
    
    border: none;
    box-shadow: 0 7px 15px -11px rgba(0, 0, 0, 0.42);

    .radio-title {
      color: $white;
    }
  }
  
}
