//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the change password page.
// -----------------------------------------------------------------------------

.change-password{
  margin-bottom: 100px;
  
  form{
    padding-top: 30px;

    .input-wrapper{
      .input-textbox{
        width: 80%;
      }

      .btn-pass{
        width: 20%;
        margin-bottom: 0;
      }
    }
  }

  .input-holder {
    padding: 12px 0;
  }

  .btn-wrapper{
    margin-top: 200px;
    .btn{
      display: block;
    }
  }
}