.contact-us {
  .section-location {
    margin-top: 103px;
  }

  .subtitle {
    margin: 0 0 6px;

    font-size: 18px;
  }

  .description {
    margin: initial;
    font-size: 17px;
  }

  .button-holder {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    .btn {
      margin-bottom: 7px;
    }

    .fas {
      margin-right: 9px;
    }

    .fa-phone {
      transform: rotate(90deg);
    }
  }
}