.debit-card {

  .message-holder {
    margin-top: 102px;
    margin-bottom: 36px;

    .transact-message {
      font-size: 14px;

      &:first-child {
        margin-bottom: 25px;
      }
      
      span {
        color: $brand-color;
        font-weight: 600;
      }
    }
  }
    
  .title {
    font-size: 22px;
  }

  .box {
    margin: 12px 0;

    .checkbox {
      width: 21px;
    }

    label {
      font-size: 16px;
    }
  }

  .input-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .input-holder {
      width: 48%;
    }
  }

  .btn-holder {
    display: flex;

    padding-top: 20px;
    padding-bottom: 20px;

    &-bordered {
      @extend .btn-holder;

      flex-direction: column;
      border-bottom: 2px solid #ebebeb;
    }

    &-add {
      @extend .btn-holder;

      flex-direction: column;
    }

    a {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  @media only screen and (max-width: 345px) {
    .box label {
      font-size: 14px;
    }
  }
}

.add-pad {
  padding-left: 30px;
  padding-right: 30px;
}

.add-pad {
  padding-left: 30px;
  padding-right: 30px;
}

.scrollable {
  margin-bottom: 163px;
}

.bottom-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  
  
  width: 100%;
  padding: 20px 30px;

  background: white;
}

@media all and (orientation: portrait) {
  .scrollable {
    margin-bottom: 155px;
  }

  .bottom-fixed{
    flex-direction: column;
  }

  a, button {
    margin-bottom: 5px;
  }
}

@media all and (orientation:landscape) {
  .scrollable {
    margin-bottom: 100px;
  }

  .bottom-fixed{
    flex-direction: row;

    a, button {
      width: 100%;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 0;
    }
  }
}

