//main: ../main.scss

// ------------------------------------------------------------------------------------
// This file contains styles that are specific to the Delete Beneficiary Details page.
// ------------------------------------------------------------------------------------

.pop-up-message 
.delete-message {
  position: relative;
  bottom: 7px;
  
  font-weight: 600;
}

.close-delete-beneficiary {
  position: relative;
  top: 123px;
  left: 279px;
  z-index: 1;
}

.btn-holder {
  position: relative;
  bottom: 12px;

  display: flex;
  justify-content: space-around;
}

.confirmation {
  padding: 7px 33px;

  font-size: 15px;
}

