//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
  margin-top: 25px;
  margin-bottom: 25px;

  &-title {
    margin-top: 20px;
    margin-bottom: 5px;

    font-size: 16px;
  }

  &-text {
    margin-top: 0;
    margin-bottom: 25px;

    font-size: 14px;
  }

  &-link {
    font-size: 18px;
    font-weight: 600;
    text-align: center;

    border-bottom: 1px $blue-pale solid;

    @include on-event {
      color: $blue;
      text-decoration: none;

      border-bottom: 1px $white solid;
    }
  }

  .logo-wrapper {
    margin-bottom: 30px;

    text-align: center;
  }

  .swiper-container {
    margin-bottom: 15px;

    text-align: center;

    .swiper-pagination-bullet {
      margin: 0 3px;
    }

    .swiper-pagination-bullet-active {
      background: $blue;

      transform: scale(1.2);

      opacity: 1;
    }
  }

  .home-swiper {
    padding-bottom: 20px;
  }

  .swiper-pagination {
    bottom: 0;
  }

  .slide-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .button-wrapper{
    text-align: center;

    .btn {
      display: block;
      margin: 10px 0;

    }
  }

  @media screen and (max-width: 374px) {
    .logo-wrapper {
      margin-bottom: 15px;
    }

    .logo {
      width: 120px;
    }

    .phone-logo {
      width: 180px;
    }
  }

  @include respond-to(xs) {
    .home-link {
      font-size: 16px;
    }
  }
}