//main: ../main.scss

// ------------------------------------------------------------------------------------
// This file contains styles that are specific to the New Beneficiary S1 page.
// ------------------------------------------------------------------------------------

.new-beneficiary-s1 {
  .title-holder {
    .title {
      margin: 99px 0 14px;

      font-family: $font-avenir;
      font-weight: 600px;
      font-size: 23.3px;
      color: $prussian-blue;
    }
  }

  .form-holder {
    padding-bottom: 80px;
  }

  .form-group {
    margin-bottom: 5px;

  }

  .input-title {
    word-spacing: 3px;
  }

  .textbox {
    padding: 5px 0 8px;
  }

  .btn-holder {
    display: flex;
    margin-top: 100px;

    .next {
      width: 100%;
    }
  }
}