.provider {
  margin-top: 100px;
  margin-bottom: 100px;

  a {
    text-decoration: none;
  }

  .title {
    font-size: 18px;
  }

  &-links {
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
  }

  &-icon {
    margin-right: 9px;
  }

  &-link {
    display: flex;
    padding: 0 10px;

    border-bottom: 1px $gray-smoke solid;

    transition: all .3s ease-in;

    @include on-event {
      border-bottom: 1px $white solid;
      border-radius: 5px;
      box-shadow: 2px 2px 4px 2px rgba(0,0,0,.1);
    }
  }

  .image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}