//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the SSS, Polo Owwa and Mega World Corp payments.
// -----------------------------------------------------------------------------

.remit-payment {
  .section-sss {
    padding-top: 20px;

    .content-wrapper {
      padding-top: 8px;
    }

    .field-wrapper {
      padding-top: 13px;
    }

    .input-field {
      font-size: 18px;
      font-weight: 600;

      &-num {
        @extend .input-field;

        font-size: 22px;
      }
    }

    .item {
      padding-top: 15px;

      &-holder {
        display: flex;
        flex-direction: row;
        margin-top: 7px;
      }

      &-text {
        margin-right: 10px;

        font-weight: 600;
      }
    }

    .input-holder{
      .input-select {
        background-position: top 5px right 10px;
      }
    }
  }

  .section-polo {
    .image-head {
      height: 60px;
    }

    .content-wrapper {
      padding-top: 23px;
    }

    .text-head {
      padding-top: 12px;
      padding-bottom: 16px;
    }


    .holder-sub {
      @extend .input-holder;

      position: relative;

      .input-title {
        padding-top: 28px;
        padding-bottom: 7px;
      }

      .text-head {
        padding-top: 26px;
        padding-bottom: 16px;
      }

      .input-field-sub {
        font-weight: 600;
      }
    }

    .choices-holder {
      padding-top: 30px;
      padding-bottom: 50px;
      border-bottom: 1px solid $gainsboro;

      .payment-details {
        padding: 40px 20px;

        font-weight: 600;
        text-align: center;

        .colored-text {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }

    .close-icon {
      width: 9px;
    }

    .payment-input[type="radio"]:checked + .payment-details {
      .colored-text {
        color: $white;
      }
    }

    .payment-label {
      display: flex;
      flex-direction: column;
      justify-content: center;

      font-weight: 600;

      .colored-text {
        padding-top: 5px;

        font-size: 21px;
        font-weight: 700;
      }
    }

    .input-btn {
      position: absolute;
      right: 2%;
      bottom: 50.5%;
    }

    .btn-confirm {
      margin: 0;
    }
  }

  .section-mega {
    .content-wrapper {
      padding-top: 22px;
    }

    .image-head {
      height: 66px;
    }

    .field-wrapper {
      padding-top: 13px;
    }

    .input-holder {
      .input-select {
        padding-top: 10px;
        padding-bottom: 10px;

        font-size: 19px;
      }
    }

    .text-head-sub {
      padding-top: 0;
    }

    .card-wrapper {
      padding-top: 14px;
    }

    .card {
      .card-title {
        font-size: 15px;
        font-weight: 600;
        text-align: center;
      }

      .text-holder {
        display: flex;
        flex-wrap: wrap;
        padding: 5px 18px 10px;

        font-size: 14px;
        font-weight: 500;
        color: $prussian-blue;

        .text-title {
          margin: 8px 0 0;
          width: 50%;

          text-align: left;
        }

        .sub-title {
          margin: 8px 0 0;
          width: 50%;

          text-align: left;
        }
      }
    }

    .input-title {
      padding-top: 18px;
    }

    .item {
      padding-top: 19px;

      &-holder {
        display: flex;
        flex-direction: row;
        margin-top: 7px;
      }

      &-text {
        margin-right: 10px;
        margin-right: 10px;

        font-weight: 600;
      }
    }
  }

  .content-wrapper {
    padding-bottom: 90px;
  }

  .image-head {
    height: 57px;
  }

  .input-holder {
    padding: 13px 0;

    .input-textbox {
      padding-top: 6px;
      padding-bottom: 6px;
    }

    .input-field-sub {
      padding: 0 0 7px;
    }
  }

  .text-head {
    padding-top: 11px;

    font-size: 23px;
    font-weight: 600;
    color: $prussian-blue;

    &-sub {
      @extend .text-head;
      padding-top: 20px;

      font-size: 19px;
    }

    &-rate {
      @extend .text-head-sub;

      padding-top: 9px;
      padding-bottom: 10px;
    }
  }

  .btn-confirm {
    width: 100%;
    height: 50px;

    font-size: 16px;
  }

  @media screen and (max-width: 374px) {
    .text-head {
      font-size: 18px;
    }

    .section-polo {
      .input-btn {
        right: 8px;
        bottom: 83px;
      }

      .holder-sub {
        .input-field-sub {
          font-size: 19px;
        }
      }
    }

    .text-head-sub {
      font-size: 16px;
    }

  }

  @media screen and (max-width: 360px) {
    .section-polo {
      .choices-holder {
        .payment-details {
          padding: 30px 10px;

          font-size: 15px;

          .colored-text {
            font-size: 17px;
          }
        }
      }
    }
  }
}

.header-remit {
  .head-content {
    margin-top: 24px;
  }

  .title {
    padding-left: 18px;

    font-size: 24px;
  }

  .header-title {
    font-size: 21px;
  }

  .btn-back {
    position: absolute;
    top: 3px;
    left: -3px;
  }

  .btn-close {
    position: absolute;
    top: 5px;
  }
}