.settings {
  margin-bottom: 100px;
  height: unset;

  a {
    text-decoration: none;
  }

  .title {
    font-size: 18px;
  }

  &-links {
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
  }

  &-icon {
    margin-right: 9px;
    width: 28px;

    transition: all .3s ease-in;

    fill: $prussian-blue;

    &-password {
      width: 23px;
      margin-right: 14px;
    }
  }

  &-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;

    border-bottom: 1px $gray-smoke solid;

    transition: all .3s ease-in;

    .settings-title {
      transition: all .3s ease-in;
    }

    @include on-event {
      background-color: $snow-white;
      border-bottom: 1px $white solid;
      border-radius: 5px;
      box-shadow: 2px 2px 4px 2px rgba(0,0,0,.1);

      .settings-title {
        color: $blue;
      }

      .settings-icon {
        fill: $blue;
      }
    }
  }

  .image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}