//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Sign Up page.
// -----------------------------------------------------------------------------

.sign-up{
  margin-top: 80px;
  margin-bottom: 100px;

  .signup-method{
    padding: 20px 0;
    margin: 0;

    font-family: $font-avenir;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: $lynch-blue;
    text-align: center;

    .method{
      color: $blue;
    }
  }

  .btn-wrapper{
    .btn-blue {
      display: block;
      margin: 0 auto;
      width: 100%;

      text-align: center;
    }

    &-signup{
      margin: 15px 0;
    }
  }

  .sign-up-terms{
    margin: 0 auto;
    max-width: 300px;

    font-family: $font-avenir;
    font-size: 13px;
    font-weight: 400;
    color: $light-slate-grey;
    text-align: center;

    .terms{
      color: $brand-color;
    }
  }


  .section-form{
    padding-top: 3px;

    .title{
      font-size: 23px;
      margin: 19px 0 9px 0;
    }

    .input-holder {
      padding: 10px 0 12px 0;
    }

    .input-textbox{
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

}

.sign-up-first{
  margin-bottom: 30px;
}