.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: initial;
  height: 100vh;

  .logo-holder {
    margin: auto;
    width: 310px;
    max-width: 100%;

    .logo-bird {
      width: 100%;
      object-fit: contain;
    }
  }
  
  .loader-holder {
    margin-top: 80px;
    text-align: center;

    .loader {
      position: relative;
      display: inline-block;

      width: 64px;
      height: 64px;

      .dot {
        position: absolute;

        background: $grey;
        border-radius: 50%;

        animation: loader 1.2s linear infinite;

        &:nth-child(1) {
          top: 13px;
          left: 45px;
          
          width: 5px;
          height: 5px;

          animation-delay: 0s;
        }

        &:nth-child(2) {
          top: 27px;
          left: 50px;
          
          width: 5px;
          height: 5px;

          animation-delay: -0.1s;
        }

        &:nth-child(3) {
          top: 39px;
          left: 44px;
          
          width: 6px;
          height: 6px;
          
          animation-delay: -0.2s;
        }

        &:nth-child(4) {
          top: 45px;
          left: 30px;
          
          width: 7px;
          height: 7px;
          
          animation-delay: -0.3s;
        }

        &:nth-child(5) {
          top: 39px;
          left: 17px;
          
          width: 8px;
          height: 8px;
          
          animation-delay: -0.4s;
        }

        &:nth-child(6) {
          top: 25px;
          left: 11px;
          
          width: 9px;
          height: 9px;
          
          animation-delay: -0.5s;
        }

        &:nth-child(7) {
          top: 12px;
          left: 16px;
          
          width: 10px;
          height: 10px;
          
          animation-delay: -0.6s;
        }

        &:nth-child(8) {
          top: 6px;
          left: 29px;
          
          width: 11px;
          height: 11px;
          
          animation-delay: -0.7s;
        }
      }
    }

    @keyframes loader {
      0%, 20%, 80%, 100% {
        transform: scale(.5);
      }
      50% {
        transform: scale(1);
        background: $blue;
      }
    }  
  }
}