.support {
  margin-top: 100px;
  margin-bottom: 100px;

  &-btn {
    display: flex;
    justify-content: center;
    padding: 11px 5px;
    margin-bottom: 10px;
    max-width: 600px;

    font-size: 15px;
    text-align: center;

    @include on-event {
      .support-title-btn {
        color: $white;
      }

      .image-holder {
        .support-icon-email {
          path,
          polygon {
            fill: $white;
          }
        }
      }
    }
  }

  .btn-items-holder {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 70px;

    .image-holder {
      width: 50%;

      text-align: left;
    }

    .support-title-btn {
      width: 50%;

      text-align: left;
    }
  }

  &-title-btn {
    margin: 0;

    font-size: 18px;
    color: $blue;

    transition: all .3s ease-in;
  }

  &-title {
    margin-bottom: 10px;

    font-size: 20px;
  }

  &-text {
    margin: 0;
    margin-bottom: 25px;

    font-size: 16px;
  }

  a {
    text-decoration: none;
  }

  &-links {
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
  }

  &-icon {
    margin-right: 9px;

    font-size: 24px;
  }

  &-link {
    display: flex;
    padding: 0 10px;

    border-bottom: 1px $gray-smoke solid;

    transition: all .3s ease-in;
  }

  .image-holder {
    display: flex;
    justify-content: center;
    align-items: center;

    .fa-phone {
      font-size: 16px;

      transform: rotate(90deg);
    }

    .support-icon-email {
      width: 20px;

      path,
      polygon {
        transition: all .3s ease-in;

        fill: $blue;
      }
    }
  }

  .btn-wrapper {
    .btn {
      max-width: 100%;
    }
  }
}