.header-transaction {
  @media screen and (max-width: 374px) {
    .header-title {
      font-size: 24px;
    }
  }
}

.transaction {
  margin-top: 100px;
  margin-bottom: 100px;

  a.detail-link {
    color: $text-color;
    text-decoration: initial;
  }

  .card {
    margin: 20px 0;
  }

  p {
    margin: 0;
  }

  &-card-wrapper {
    margin-top: 10px;
    margin-left: 10px;
  }

  &-card-title {
    margin-bottom: 5px;

    font-size: 18px;
  }

  &-card-text {
    font-size: 14px;
  }

  &-card-total {
    padding-bottom: 12px;

    font-size: 13px;
  }

  &-card-payment {
    padding-left: 5px;

    color: $blue;
  }

  &-card-btn {
    display: block;
    padding: 6px 5px;
    margin-bottom: 10px;
    width: 91px;
    max-width: 100%;

    font-size: 15px;
    text-align: center;
  }

  .modal {
    &-open {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background: rgba(0, 0, 0, 0.7);

      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;

      &:target {
        visibility: visible;
        opacity: 1;
      }
    }

    .content-wrapper {
      position: relative;

      padding-top: 16px;
      margin: 81px auto;
      width: 310px;
      max-width: 100%;

      background: #fff;
      border-radius: 3px;

      transition: all .2s ease-in-out;
    }

    .content-holder {
      padding: 0 20px 16px;
      margin: 0;
    }

    &-title {
      padding-bottom: 10px;
      margin-bottom: 20px;

      font-size: 18px;
      text-align: center;

      border-bottom: 1px $gray-smoke solid;
    }

    &-details-wrapper {
      border-bottom: 1px $gray-smoke solid;
    }

    &-details-holder {
      margin-bottom: 15px;
    }

    &-details-title {
      margin-bottom: 3px;

      font-size: 14px;
      font-weight: 600;
      text-align: center;
    }

    &-details-text {
      font-size: 18px;
      text-align: center;
    }

    &-account-wrapper {
      padding: 15px 0;
      margin-bottom: 25px;

      border-bottom: 1px $gray-smoke solid;
    }

    &-account-holder {
      display: flex;
      justify-content: flex-start;
      margin: 5px 0;

      p {
        font-size: 14px;
        font-weight: 600;
      }
    }

    &-account-title {
      margin-right: 10px;
      width: 50%;
    }

    &-account-description {
      width: 50%;
    }

    .button-wrapper{
      .btn{
        display: block;
        margin: 10px 0;
      }
    }

    .title-blue {
      color: $blue;
    }
  }
}