
.update-profile {
  .details-holder {
    margin: 104px 0 50px;
  }

  .subtitle {
    margin: 10px 0;
  }

  .input-holder:nth-child(-n+4) {
    padding: 7px 0;

    .input-textbox {
      padding: 5px 0;
    }
  }

  .button-holder {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    .btn-blue {
      margin-bottom: 10px;
    }
  }
}