//main: ../main.scss

// ------------------------------------------------------------------------------------
// This file contains styles that are specific to the Update Beneficiary page.
// ------------------------------------------------------------------------------------

.update-beneficiary {  
  .title-holder {
    padding-top: 11px;

    .title {
      margin: 23px 0 9px;

      font-family: $font-avenir;
      font-size: 23.3px;
      font-weight: 600;
      color: $prussian-blue;
    }
  }

  .form-holder {
    padding-bottom: 160px;
  }

  .form-controls {
    padding-bottom: 4px;
  }

  .textbox {
    padding: 7px 0 6px;
  }

  .input-title {
    word-spacing: 3px;
  }

  .input-select {
    background-position: top 19px right 8px;
  }

  .select {
    padding: 8px 0 8px;

    font-size: 19px;
  }

  .btn-holder {
    display: flex;
    flex-direction: column;
    margin-top: 31px;

    .confirmation {
      padding: 15px 33px;
      margin-bottom: 12px;
      width: 100%;
    }
  }

  @media all and (orientation: portrait) {
    .scrollable {
      margin-bottom: 155px;
    }
  
    .bottom-fixed{
      flex-direction: column;
    }
  
    a, button {
      margin-bottom: 5px;
    }
  }
  
  @media all and (orientation:landscape) {
    .scrollable {
      margin-bottom: 100px;
    }
  
    .bottom-fixed{
      flex-direction: row;
  
      a, button {
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 0;
      }
    }
  }
}