//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $font-avenir;
}

.title {
  font-size: 27px;
  font-weight: 600;
}

.subtitle {
  font-size: 23px;
  font-weight: 600;
}

.title,
.subtitle,
input {
  color: $prussian-blue;
}

.colored-text {
  color: $blue;

  &-sub {
    color: $blue;
    font-weight: 700;
  }
}