/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

body {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}
/* New Global user interface for buttons */
.btn-new {
  box-shadow: 0 4px 6px rgb(35 122 252 / 5%), 0 1px 3px rgb(0 0 0 / 18%);
  background-color: #237afc;
  background-image: linear-gradient(to right, #237afc, #ffffff);
  background-size: 200% auto;
  border: none;
  border-radius: 5px;
}

.btn-green {
  box-shadow: 0 4px 6px rgb(35 122 252 / 5%), 0 1px 3px rgb(0 0 0 / 18%);
  background-color: #4caf50;
  background-image: linear-gradient(to right, #4caf50, #bddcbd);
  background-size: 200% auto;
  border: none;
  border-radius: 5px;
}

.btn-new-red {
  box-shadow: 0 4px 6px rgb(50 50 93 / 5%), 0 1px 3px rgb(0 0 0 / 18%);
  background-color: #ff4040;
  background-image: linear-gradient(to right, #ff4040, #ffffff);
  color: white;
  background-size: 200% auto;
  border: none;
  border-radius: 5px;
}

.btn-new-radius {
  border-radius: 5px;
  border-width: 1px;
}
.btn-new-radius-red {
  border-radius: 5px;
  border-color: #237afc;
  border-width: 1px;
  color: #237afc;
}
.color-white {
  color: white;
}
.cards {
  padding: 10px;
  margin: 10px 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 10%);
}
.clr-wh-nav {
  color: #ffffff73;
  margin: 0;
  font-size: 13px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.clr-wh-nav-bcpay {
  color: #ffffff73;
  margin: 0;
  font-size: 13px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.clr-wh-nav-settings {
  color: #ffffff73;
  margin: 0;
  font-size: 13px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.clr-wh-nav-support {
  color: #ffffff73;
  margin: 0;
  font-size: 13px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.clr-wh-nav-history {
  color: #ffffff73;
  margin: 0;
  font-size: 13px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.ml {
  margin-left: 11px;
}
.ml5 {
  margin-left: 15px;
}
.mr-3 {
  margin-right: 6px;
}
.df {
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flag-check-rates {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin-right: 5px;
}
.db-nav {
  background: white;
}
/* End of New Global user interface for buttons */

.footerConnection {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c32f2f;
  background-image: linear-gradient(to right, #ff4040, #f97676);
  color: white;
  text-align: center;
  font-family: monospace;
}
.assistance {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.overlayIndex {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  opacity: 1;
  z-index: 99 !important;
}

.overlayIndex:target {
  visibility: visible;
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  opacity: 1;
  z-index: 99 !important;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h3 {
  margin-top: 0;
  color: #333;
  font-size: 18px;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  font-size: 16px;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

.catContainer {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  padding: 3px 3px;
  height: auto;
  width: 100%;
}
.modal-account-description {
  text-align: end;
}
.tac {
  text-align: center;
}

#poRemittance {
  padding: 0%;
  margin: 0%;
  font-size: 16px;
  font-weight: 400;
  color: #758898;
  letter-spacing: 0.4px;
}
